@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.swal2-title {
  
  color: #c3c3c3 !important;
  font-size: 15px !important;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
  font-family: "GroupeMedium" !important;
}

.swal2-center,.swal2-popup {

  border-radius: 30px !important;
  background: black !important;/*this is for the full blackout*/
}
.swal2-styled,.swal2-confirm {
 
  background-color: #c3c3c3 !important;
  color: #000 !important;
  
}
.swal2-styled {

  box-shadow: 0 0 0 1px rgb(93 93 93) !important;
}

/* Add this to your styles.css or inside a <style> tag */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}


.iekbcc0 {
  font-family: "GroupeMedium" !important;
}
.ju367vb0 {
  background: #010101 !important;
}
.ju367veu {
  color: #999999 !important;
}
.iekbcc0, .ju367v4, .ju367v8l, ._9pm4ki3, .ju367v9b, .ju367vax, .ju367va,.ju367v2l, .ju367v8l{
  --rk-colors-profileActionHover: rgb(255 255 255 / 20%) !important;
  --rk-shadows-dialog: 0px 8px 32px rgb(255 255 255 / 68%) !important;
}